{% extends 'blog/index_base.html' %}
{% load  staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/index_pages.css" %}">
{% endblock %}
{% block main %}
    <a class="cover" href="{{ cover.page.get_url }}">
        <img src="{{ cover.imageurl }}">
        <div class="cover-title">
            {{ cover.page.title }}
        </div>
    </a>


    <div class="items">
        <!--620 x 210-->
        {% include "blog/elements/pageitem.html" %}

    </div>
    <button class="get_more btn">更多</button>
{% endblock %}

{% block js_end %}
    <script type="text/javascript" src="{% static "js/index_pages.js" %}"></script>
{% endblock %}