{% extends 'blog/index_base.html' %}
{% load  staticfiles %}
{% load custom_tags %}
{% load listutil %}
{% block head %}
    <title>逢雨 | 标签</title>
    <link rel="stylesheet" href="{% static "css/index_tags.css" %}">
    <link rel="stylesheet" href="{% static "css/index_tags_conf.css" %}">
{% endblock %}

{% block main %}
<div class="taglistwrapper">
    <div class="taglist clear">
    <!-- {% with category|partition_col:"2" as parts  %} -->
            {% for tagitem in category %}
                {% include 'blog/elements/tagitem.html' %}
            {% endfor %}
    <!-- {% endwith %} -->
    </div>
</div>
{% endblock %}

{% block js_end %}
    <script type="text/javascript" src="{% static "js/index_tags.js" %}"></script>
{% endblock %}