.taglist{
    font-size: 0;
}

.column{
    vertical-align: top;
    width: 300px;;
    display: inline-block;
}

.column a,p{
    font-family: 'STHeiti';
    font-size: 16px;
}

.column h1{
    font-size: 30px;
}


#col1{
    margin-right: 40px;;
}

.tagitem{
    vertical-align: top;
    width: 300px;
    position: relative;
    margin:0 -4px 30px 0;
    display: inline-block;
    border: none;
}

.lefttag{
    margin-right: 36px;
}

.tagnamewrapper{
    background-color: black;
}
.tagimage{
    position: relative;
    height: 300px;
    width: 300px;
    opacity: 0.3;
}

.tagimage:hover{
    opacity: 1;
}


.tagname h1{
    letter-spacing: 2px;
    font-family: "PingFang SC";
    position: absolute;
    top: 134px;
    width: 300px;
    color: #FFFFFF;
    text-align: center;
    pointer-events:none;
    font-weight: normal;
}

.overview:after{
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.overview{
    min-height: 108px;
    padding-top:30px;
    background-color: #fafafa;
}

.overview .pagelink{
    text-align: center;
    margin-bottom: 20px;
}


.empty{
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    color: #8A8A8A;
}

.border_top{
    width: 100px;
    border-top: solid 1px #e1e1e1;
    position: absolute;
    top: 0;
    left: 100px;
}

.get_more,.recover,.no_more {
    position: relative;
    display: block;
    background-color: #fafafa;
    text-align: center;
    padding: 14px 10px 14px 10px;
    vertical-align: middle;
}


.get_more:hover,.recover:hover{
    background-color: #e1e1e1;
}

.no_more{
    color: #8A8A8A;
}

.recover{
    display: none;
}


.col1 .row1 .tagimage{
    background: url("../img/coder.jpg") -441px -42px no-repeat;

}

.col1 .row1 .tagimage:hover{
    background-position: -300px -100px;
    transition:background-position 0.5s linear,opacity 0.5s linear;
    opacity: 1;
}

.col2 .row1 .tagimage{
    background: url("../img/kiss.jpg") -20px 0 no-repeat;
}

.col2 .row1 .tagimage:hover{
    background-position: -90px 0;
    transition:background-position 0.5s linear,opacity 0.5s linear;
    opacity: 1;
}