.tag1 .tagimage{
    background: url("../img/kiss.jpg") -20px 0 no-repeat;
}

.tag1 .tagimage:hover{
    background-position: -90px 0;
    transition:background-position 0.5s linear,opacity 0.5s linear;
    opacity: 1;
}



.tag2 .tagimage{
    background: url("../img/coder.jpg") -441px -42px no-repeat;
}

.tag2 .tagimage:hover{
    background-position: -300px -100px;
    transition:background-position 0.5s linear,opacity 0.5s linear;
    opacity: 1;
}

.tag3 .tagimage{
    background: url("../img/stackedbooks.jpg") -50px -250px no-repeat;
}

.tag3 .tagimage:hover{
    background-position: -50px 0;
    transition:background-position 0.5s linear,opacity 0.2s linear;
    opacity: 1;
}

.tag4 .tagimage{
    background:url("../img/antiAmerica.jpg") repeat-x;
    background-size: cover;
}

.tag4 .tagimage:hover{
    background-position: 526px 0px;
    transition:background-position 0.8s linear,opacity 0.5s linear;
    opacity: 1;

}
