.taglistwrapper {
    text-align: center;
    width: 100%;
}

.taglist{
    columns:300px 3;
    -moz-columns:300px 3;
    -webkit-columns:300px 3;
    font-size: 0;
}


.tagitem a,p{
    font-family: 'STHeiti','Microsoft YaHei';
    font-size: 16px;
}

.tagitem a {
    color: #8A8A8A;
}

.tagitem a:hover{
    color:#4073a2;
}

.tagitem h1{
    font-size: 30px;
}


.tagitem{
    width: 300px;
    position: relative;
    display: inline-block;
    border: none;
    margin-bottom: 16px;
}

.lefttag{
    margin-right: 36px;
}

.tagnamewrapper{
    background-color: black;
}
.tagimage{
    position: relative;
    height: 300px;
    width: 300px;
    opacity: 0.3;
}

.tagimage:hover{
    opacity: 1;
}


.tagname h1{
    letter-spacing: 2px;
    position: absolute;
    top: 134px;
    width: 300px;
    color: #FFFFFF;
    text-align: center;
    pointer-events:none;
    font-weight: normal;
}

.overview:after{
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.overview{
    position: relative;
    min-height: 108px;
    padding-top:30px;
    background-color: #e1e1e1;
}

.overview .pagelink{
    text-align: center;
    margin-bottom: 20px;
}


.empty{
    position: absolute;
    top: 69px;
    left: 118px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: #8A8A8A;
}


.tagbtn {
    position: relative;
    display: block;
    background-color: #fafafa;
    text-align: center;
    padding: 14px 10px 14px 10px;
    vertical-align: middle;
    border: none;
}


.get_more:hover,.recover:hover{
    background-color: #e1e1e1;
    cursor: pointer;
}

.no_more{
    color: #8A8A8A;
}

.get_more_empty{
    color: #8A8A8A;
    text-align: center;
    margin-bottom: 20px;
}

.recover{
    display: none;
}

#totags{
    color:#e2e2e2;
}

