
.left{
    padding-bottom: 50px;
}

.title h1{
    font: 26px/34px 'Microsoft YaHei','STHeiti';
    color: #333;
    text-align: left;
    margin-bottom: 18px;
}

.title h2{
    font: 16px/18px 'Microsoft YaHei','STHeiti';
    color: #8A8A8A;
    text-align: left;
    margin-bottom: 18px;
}



.title{
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;
}

.header-sub .date{
    font: 14px/18px 'Tahoma';
    color: #ccc;
    text-align: left;
}

.text h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 30px;
    border-bottom: 1px solid #e2e2e2;
    margin: 30px 0;
}

.text h2{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 20px;
    border-bottom: 1px solid #e2e2e2;
    margin: 20px 0;
}

.text p{
    font: 15px/25px "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    text-align: justify;
    margin-bottom: 20px;
    word-break: normal;
    word-wrap: break-word;
    letter-spacing: 1px;
    /*text-indent: 30px;*/
}

.text strong,h2{
    font-family:'Tahoma';
    color: #000;
    font-weight: bold;
    text-align: left;
    word-break: normal;
    word-wrap: break-word;
    letter-spacing: 1px;
}


.text strong{
    font-size: 14px;
}

.blog-content{
    padding: 10px 0px 20px 0px;
}

.page-subtitle{
    font: 16px/18px 'STHeiti','Microsoft YaHei';
    color: #8A8A8A;
    text-align: left;
    margin-bottom: 18px;
}

.blog-content img{
    width:640px;
}