body, div, p, form, iframe, object, ul, ol, li, dl, dt, dd, span, em, strong, img, table, td, th, textarea, button, input, select, h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}


.wrapper,.left{
    margin: 0 auto;
}

a,li,.btn{
    text-decoration: none;
    list-style: none;
    color:#333
}
a:hover,.btn:hover{
    color:#4073a2;
}

h2{
    font-size: 24px;
    display: inline;
}


.clear::after{
    clear:both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}


.left{
    width: 640px;

}

.logo{
    width:124px;
    height: 63px;
    display: inline-block;
    background: url("../img/icon.png");
}
.header{
    margin:30px 0;
}

.nav-1{
    margin-top:47px;
    float: right;
    bottom:7px;
    color: #5c5c5c;
}

.nav-1 a:last-child{
    font-size:14px;
    padding-left:16px;
}

.nav-1 a:first-child{
    font-size:14px;
    padding-right:16px;
    border-right: 1px solid rgb(209, 209, 209);
}



.header-sub{
    margin-top:33px;
    padding-left: 5px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e2e2e2;
}

.nav-2 li{
    font-size: 18px;
    color: #666;
    padding-right: 20px;;
    display: block;
    float:left;
}

.footer{
    padding:100px 0 70px 0;
    font: 12px/22px 'Tahoma';
    color: #BDBDBD;
    text-align: center;
}

.footer a{
    color: #8A8A8A;
}

