{% extends 'blog/base.html' %}
{% load  staticfiles %}
{% load custom_tags %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/index_tags.css" %}">
{% endblock %}

{% block main %}
    <div class="taglist clear">
    {% for item in category %}
        <div class="tagitem {% cycle 'lefttag' 'righttag' %}" data-tag-id="{{ item.id }}" id="tag{{ forloop.counter }}">
            <div class="tagnamewrapper" >
                <div class="tagimage">
                </div>
            </div>
            <div class="tagname">
                <h1>{{ item.name }}</h1>
            </div>
            <div class="overview">
                {% with pages=item.pages.all|ordered_by:"-id"%}
                    {% for page in pages|slice:":3" %}
                        <div class="pagelink">
                            <a href="{{ page.get_url }}" page-id="{{ page.id }}">{{ page.title }}</a>
                        </div>
                        {% empty %}
                             <p class="empty">空空如也</p>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="get_more btn">
                <div class="border_top"></div>
                <div>More</div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block js_end %}
    <script type="text/javascript" src="{% static "js/index_tags.js" %}"></script>
{% endblock %}