{% load staticfiles %}
{% for page in pages %}
    <div class="page clear" id="{{ page.id }}">
        <a class="page-title" href="{{ page.get_url }}">
            {% if page.isTopping %}
                <span class="rec">置顶</span>
                {% elif page.recommend %}
                    <span class="rec">推荐</span>
            {% endif %}
            <h2>{{ page.title }}</h2>
        </a>
        <h3 class="page-subtitle">
            {{ page.subtitle }}
        </h3>
        <div class="page-sub">
            <div class="pic clear">
                <img width="192" src="{% static "img/page-sub.png" %}">  <!--192 x 113-->
            </div>
            <div class="summary">
                <p class="summary-up">
                    {{ page.summary|safe }}
                </p>
                <div class="summary-sub">
                    <span id="time">{{ page.date }}</span>
                    <span id="readCnt">被浏览{{page.views}}次</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


