{% load custom_tags %}
{% with tagitem|orderbycustom as pages %}
<div class="tagitem tag{{ tagitem.order }}" data-tag-id="{{ tagitem.id }}">
    <div class="tagnamewrapper" >
        <div class="tagimage">
        </div>
    </div>
    <div class="tagname">
        <h1>{{ tagitem.name }}</h1>
    </div>
    <div class="overview">
            {% for page in pages|slice:":3" %}
                <div class="pagelink">
                    <a href="{{ page.get_url }}" page-id="{{ page.id }}">{{ page.title }}</a>
                </div>
                {% empty %}
                <div class="empty">
                     <p>空空如也</p>
                </div>
            {% endfor %}

    </div>
            {% if pages|length <= 3%}
                <div class="no_more tagbtn">
                    <div class="border_top"></div>
                    <p>No more</p>
                </div>
            {% else %}
                <div class="get_more tagbtn">
                    <div class="border_top"></div>
                    <p>More</p>
                </div>
            {% endif %}
    <div class="recover tagbtn">
        <div class="border_top"></div>
        <p>Collapse</p>
    </div>
</div>
{% endwith %}